<!DOCTYPE html>
<html lang="en">

<head>
    <title>FCS - About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles/mainstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm  navbar-dark">
        <a class="navbar-brand" href="/main">FCS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/registration">Registration</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center" style="background-color: #917FB3;">
        <h1>About Us</h1>
        <p>Learn more about our team of experts and our company history.</p>
        <a href="/auth/registration" class="btn btn-outline-light">Learn more</a>
    </div>

    <div class="container about-content">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Company</h2>
                <p>FCS was founded in 2010 with the goal of providing expert trading solutions for forex
                    traders. Since then, we have grown into a team of experienced traders and analysts with a proven
                    track record of success.</p>
                <p>We pride ourselves on our commitment to transparency and ethical trading practices, and we are
                    dedicated to delivering consistent returns to our clients through a combination of advanced trading
                    algorithms, human expertise, and risk management strategies.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Team</h2>
                <p>Our team consists of experienced traders and analysts who are passionate about the forex market and
                    dedicated to delivering results for our clients. We believe that our people are our most valuable
                    asset, and we invest heavily in their training and development.</p>
                <p>Each member of our team brings a unique set of skills and experience to the table, and we work
                    collaboratively to deliver the best possible results for our clients.</p>
            </div>
        </div>
        <img class="rounded mx-auto d-block"src="photos/photo_2023-05-04_22-21-24.jpg" alt="">
        <div class="row">
            <div class="col-md-6">
                <h2>Why is that so important?</h2>
                <p>Tracking your income and expenses is an essential part of managing your finances. Without a clear
                    understanding of your financial situation, it can be challenging to make informed decisions about
                    your spending, saving, and investing. That's where a tool to track your income and expenses can be
                    incredibly useful.</p>
                <p>At its core, a budgeting tool helps you track the money that is coming in and going out of your bank
                    account. This tool can help you identify areas where you may be overspending, where you can cut
                    back, and where you can allocate more funds. It can also help you track your savings progress and
                    stay on top of your bills.</p>
            </div>
            <div class="col-md-6">
                <h2>Choose us!</h2>
                <p>When it comes to choosing a budgeting tool, there are many options available, from basic spreadsheets
                    to comprehensive apps. Some tools are free, while others require a subscription or one-time
                    purchase. It's important to choose a tool that fits your specific needs and preferences.</p>
                <p>In addition to tracking your income and expenses, some budgeting tools offer additional features,
                    such as investment tracking, debt reduction strategies, and customized financial advice. Some even
                    allow you to sync your bank accounts and credit cards, so your transactions are automatically
                    imported into the tool.</p>
            </div>
        </div>
    </div>


    <footer class="bg-white">
        <!-- Copyrights -->
        <div class="bg-light py-4">
            <div class="container text-center">
                <p class="text-muted mb-0 py-2">© 2023 FCS All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>

