<!DOCTYPE html>
<html lang="en">

<head>
  <title>FCS - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/mainstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/08587a70b5.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <nav class="main-nav navbar navbar-expand-sm  navbar-dark">
    <a class="navbar-brand" href="main.html">FCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="main.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../auth/registration.html">Registration</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class=" jumbotron text-center" style="background-color:#917FB3;">
    <h1>Welcome to FCS</h1>
    <p>Financial Control = Key to Financial Freedom</p>
    <a href="../auth/registration.html" class="btn btn-outline-light">Start Now</a>
    <a href="about.html" class="btn btn-outline-light">Learn more</a>
  </div>

  <div class="container main-info">
    <div class="row">
      <div class="row">
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">01.</h5>
              <p class="card-text">Controlling your money is crucial for financial stability and security. It empowers
                you to make informed decisions and avoid unnecessary debt, enabling a better future.</p>
              <a href="../auth/registration.html" class="btn btn-outline-dark">Start Now!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">02.</h5>
              <p class="card-text">Saving your money is essential for achieving your long-term financial goals,
                providing a safety net for emergencies and unexpected expenses</p>
              <a href="../auth/registration.html" class="btn btn-outline-dark">By Clicking!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">03.</h5>
              <p class="card-text">Investing your money wisely can help you grow your wealth, beat inflation, and create
                opportunities for financial freedom in the future.</p>
              <a href="../auth/registration.html" class="btn btn-outline-dark">Invest!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" jumbotron text-center" style="background-color: #917FB3;">
    <h1>ANALYTIC</h1>
    <p>Analyzing your money is crucial to understanding your spending habits, identifying areas for improvement, and
      achieving financial goals</p>
  </div>
  <div class="container main-info">
    <div class="row">
      <div class="row">
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">01.</h5>
              <p class="card-text">Investing your money wisely can help you grow your wealth, beat inflation, and create
                opportunities for financial freedom in the future.</p>
              <i class="fa-solid fa-chart-simple fa-10x" style="color: black;"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">02.</h5>
              <p class="card-text">Properly investing your funds can yield significant financial gains, mitigate
                inflationary pressures, and pave the way to future prosperity.</p>
              <i class="fa-solid fa-chart-pie fa-10x" style="color: black;"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">02.</h5>
              <p class="card-text">Strategic money management through investment can promote wealth expansion, inflation
                resistance, and eventual financial autonomy.</p>
              <i class="fa-solid fa-chart-line fa-10x" style="color: black;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg-white">
    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 FCS All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->


</body>

</html>