<!DOCTYPE html>
<html lang="en">

<head>
  <title>FCS - Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="styles/mainstyle.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm  navbar-dark">
    <a class="navbar-brand" href="/main">FCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " th:href="@{/transaction}">Transaction</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" th:href="@{/report}">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/investing}">Investing</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container text-center mt-5">
      <h1>2023</h1>
      <h2>Ratio of your income to your outgo</h2>
      <div class="row mt-5">
        <div class="col-md-3">
          <h3 >January:</h3>
          <h4 class="text-success" th:text="${incomeRecords[0]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[0]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>February:</h3>
          <h4 class="text-success" th:text="${incomeRecords[1]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[1]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>March:</h3>
          <h4 class="text-success" th:text="${incomeRecords[2]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[2]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>April:</h3>
          <h4 class="text-success" th:text="${incomeRecords[3]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[3]}"></h4>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3">
          <h3>May:</h3>
          <h4 class="text-success" th:text="${incomeRecords[4]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[4]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>June:</h3>
          <h4 class="text-success" th:text="${incomeRecords[5]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[5]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>July:</h3>
          <h4 class="text-success" th:text="${incomeRecords[6]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[6]}"></h4>
        </div>
        <div class="col-md-3">
          <h3>August:</h3>
          <h4 class="text-success" th:text="${incomeRecords[7]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[7]}"></h4>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 col-sm-6">
          <h3>September:</h3>
          <h4 class="text-success" th:text="${incomeRecords[8]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[8]}"></h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>October:</h3>
          <h4 class="text-success" th:text="${incomeRecords[9]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[9]}"></h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>November:</h3>
          <h4 class="text-success" th:text="${incomeRecords[10]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[10]}"></h4>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3>December:</h3>
          <h4 class="text-success" th:text="${incomeRecords[11]}"></h4>
          <h4 class="text-danger" th:text="${outgoRecords[11]}"></h4>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-white">
    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 FCS All rights reserved.</p>
      </div>
    </div>
  </footer>
</body>

</html>