<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Change</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/edit/{id}(id=${record.getId()})}" th:object="${record}">
    <label for="record">Select type: </label>
	<select id="record" name="record" th:field="*{type}">
		<option value="income">Income</option>
		<option value="expence">Expence</option>
	</select>
	<br/>
	<label for="amount">Enter amount: </label>
    <input type="text" th:field="*{amount}" id="amount"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<form th:method="DELETE" th:action="@{/delete/{id}(id=${record.getId()})}" th:object="${record}">
	<input type="submit" value="Delete"/>
</form>
</body>
</html>